<!DOCTYPE html>
<html lang="en">

<body>
    {{>header}}
    {{log this}}
    <main>
        <div class="video-title">
            <h2>{{currentPost.title}}</h2>
        </div>
        <div class="video-author">
            <p>{{currentPost.username}}</p>
        </div>
        <div class="video-publish-timestamp">
            <p>{{currentPost.createdAt}}</p>
        </div>
        <div class="video-player">
            <video width="600" height="400" controls>
                <source src="/{{currentPost.video}}" type="video/mp4" id="">
            </video>
        </div>
        <div class="video-comments">
            <h2>Comments</h2>
            <ul>
                <li><b>Test commenter</b> amogus</li>
            </ul>
        </div>

    </main>
</body>

</html>
